@font-face {
  font-family: "iconfont";
  src: url('//at.alicdn.com/t/font_3869455_kxd5qj2c1.woff2?t=1673945920095') format('woff2'),
       url('//at.alicdn.com/t/font_3869455_kxd5qj2c1.woff?t=1673945920095') format('woff'),
       url('//at.alicdn.com/t/font_3869455_kxd5qj2c1.ttf?t=1673945920095') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user:before {
  content: "\e7ae";
}

.icon-eye:before {
  content: "\e78f";
}

.icon-eye-close:before {
  content: "\e8ff";
} 